<!-- views/AddReservation.hbs -->
<div class="py-4">
    <h2>Add Reservation 🗓️ </h2>

    <form id="addReservationForm">
        <div class="mb-3">
            <label for="fechaReserva" class="form-label">Reservation date</label>
            <input type="date" class="form-control" id="fechaReserva" name="fecha_reserva" required>
        </div>
        <div class="mb-3">
            <label for="fechaSalida" class="form-label">Departure date</label>
            <input type="date" class="form-control" id="fechaSalida" name="fecha_salida" required>
        </div>
        <div class="mb-3">
            <label for="numeroHabitacion" class="form-label">Room number</label>
            <select class="form-control" id="numeroHabitacion" name="numero_habitacion" required>
                <option value="101">101</option>
                <option value="102">102</option>
                <option value="103">103</option>
                <option value="201">201</option>
                <option value="202">202</option>
                <option value="203">203</option>
                <option value="204">204</option>
                <option value="301">301</option>
                <option value="302">302</option>
                <option value="303">303</option>
                <option value="304">304</option>
                <option value="401">401</option>
                <option value="402">402</option>
                <option value="403">403</option>
                <option value="501">501</option>
                <option value="502">502</option>
                <option value="503">503</option>
                <option value="601">601</option>
                <option value="602">602</option>
                <option value="603">603</option>
            </select>
        </div>


        <div class="mb-3">
            <label for="nombreUsuario" class="form-label">Username</label>
            <input type="text" class="form-control" id="nombreUsuario" name="nombre_usuario" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Reservation</button>
    </form>
    <script>
        document.getElementById('addReservationForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const fechaReserva = document.getElementById('fechaReserva').value;
            const fechaSalida = document.getElementById('fechaSalida').value;
            const numeroHabitacion = document.getElementById('numeroHabitacion').value;
            const nombreUsuario = document.getElementById('nombreUsuario').value;

            try {
                const response = await axios.post('/reserva', {
                    fecha_reserva: fechaReserva,
                    fecha_salida: fechaSalida,
                    numero_habitacion: numeroHabitacion,
                    nombre_usuario: nombreUsuario
                });
                if (response.status === 201) {
                    alert('Reserva agregada con éxito.');
                    window.location.href = '/login'; // Redirigir al login
                }
            } catch (error) {
                alert('Error al agregar la reserva.');
            }
        });
    </script>
</div>
