<!-- Contacto.hbs -->
<div class="py-5">
    <h2>Contact Form</h2>     

    <form id="contactForm" method="POST" class="w-50 m-auto">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
            <label for="nombre">Name</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>        
        <div class="form-group">
            <label for="mensaje">Message</label>
            <textarea id="mensaje" name="mensaje" rows="4" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-3">Send</button>
    </form>
</div>

<script>
    const form = document.querySelector("#contactForm");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();

        let nombre = document.querySelector("input[name='nombre']").value;
        let email = document.querySelector("input[name='email']").value;        
        let mensaje = document.querySelector("textarea[name='mensaje']").value;

        const csrfToken = document.querySelector('input[name="_csrf"]').value;

        try {
            // Enviar los datos del formulario al backend usando Axios
            const response = await axios.post("/contacto", { nombre, email, mensaje }, { headers: { 'x-csrf-token': csrfToken } });
            alert(response.data.message); // Mostrar mensaje de éxito al usuario
            form.reset(); // Limpiar el formulario después de enviarlo

        } catch (error) {
            // Manejar errores de envío del formulario
            console.error('Error al enviar el formulario de contacto:', error);
            alert('Ocurrió un error al enviar el formulario.');
        }
    });
</script>