<!-- Home.hbs -->
<div class="py-4">
  <h2 id="color-change-title">🎉Double click me🎉</h2>  

  <!-- carusel and card -->
  <section id="carusel" class="carusel container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-block w-100">
            <div class="card" style="width: 18rem; margin: 0 auto;">
              <img src="/img/room.jpg" class="card-img-top" alt="cupon-1" />
              <div class="card-body text-start">
                <h5 class="card-title">Translate to spanish</h5>
                <p class="card-text">“Eres mucho más fuerte de lo que crees. Confía en mí.”</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <div class="card" style="width: 18rem; margin: 0 auto;">
              <img src="/img/room2.jpg" class="card-img-top" alt="cupon-2" />
              <div class="card-body text-start">
                <h5 class="card-title">Translate to spanish</h5>
                <p class="card-text">“Elijo correr hacia mis problemas, y no huir de ellos. Porque eso es lo que hacen los héroes.”</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <div class="card" style="width: 18rem; margin: 0 auto;">
              <img src="/img/bathroom.jpg" class="card-img-top" alt="cupon-3" />
              <div class="card-body text-start">
                <h5 class="card-title">Translate to spanish</h5>
                <p class="card-text">“La vida no nos da un propósito. Nosotros le damos un propósito a la vida.”</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <div class="card" style="width: 18rem; margin: 0 auto;">
              <img src="/img/kitchen.jpg" class="card-img-top" alt="cupon-4" />
              <div class="card-body text-start">
                <h5 class="card-title">Translate to spanish</h5>
                <p class="card-text">“En tiempos de crisis, los sabios construyen puentes, mientras que los tontos construyen barreras.”</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <div class="spacer"></div> <!-- Espacio entre secciones -->

  <!-- section texto columnas grill desaparece en pantalla pequeña -->
  <section id="description" class="seccion_principal container text-left d-none d-sm-block pt-5 my-4">
    <div class="row">
      <div class="col-12 col-sm-6">
        <hr class="d-lg-none d-md-none d-sm-none d-sm-block my-4" />
        <!-- d-none , hace que el contenido desaparezca en mobile -->
        <img id="image-rotation" src="/img/hotel.jpg" alt="Hotel" style="width: 50%; height: auto;" />
      </div>
      <div class="col-12 col-sm-6">
        <h1 class="text-center text-sm-start pt-4 ">Actions <span class="d-block"></span></h1>
        <h2 id="iconos"><i class="fa-solid fa-plane"></i></h2>
        <div id="botones-tooltip" class="d-flex flex-wrap seccion_principal_botones justify-content-lg-start justify-content-center mb-4">
          <button id="sendEmail" type="button" class="btn btn-outline-primary text-nowrap" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Press to send to your email">
            Send by e-mail
          </button>
          <button id="addFavorites" type="button" class="btn btn-outline-primary segundo ml-3 text-nowrap" data-bs-toggle="tooltip" data-bs-placement="right" title="Add this to your favorites">
            Add to Favorites
          </button>
        </div>
          <div>
            <!-- Botones -->
            <p class="d-inline-flex gap-1">
              <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseAboutUs" role="button" aria-expanded="false" aria-controls="collapseAboutUs">
                About us?
              </a>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContactUs" aria-expanded="false" aria-controls="collapseContactUs">
                Contact us
              </button>
            </p>
            <!-- Contenido colapsable -->
            <div class="collapse" id="collapseAboutUs">
              <div class="card card-body-business">
                <h5>About Us</h5>
                <p>
                  Welcome to Hotel Super

                  Location:
                  In the heart of the city, near attractions, shopping, and cultural sites.

                  Accommodations:

                  Comfortable rooms and suites
                  Premium linens
                  Free Wi-Fi
                  Flat-screen TVs
                  In-room dining
                  Luxury toiletries
                  Dining:

                  Restaurant Super: Gourmet dishes
                  Café Super: Casual dining
                  Bar Super: Fine wines and cocktails
                  Amenities:

                  Fitness center
                  Rooftop pool
                  Full-service spa
                  Business center
                  Free shuttle service
                  Events:
                  Versatile event spaces with modern technology and planning assistance.

                  Sustainability:
                  Eco-friendly practices, including energy-efficient lighting and waste reduction.

                  Guest Experience:
                  Friendly staff ensuring a comfortable stay with personalized services.                
                </p>
              </div>
            </div>
            <div class="collapse" id="collapseContactUs">
              <div class="card card-body-business">
                <h5>Contact Us</h5>
                <p>                
                  Contact Us:

                  Phone: *56912345678
                  Email: hotelsuper@mail.com
                  Website: http://localhost:3000
                  <hr>
                  Book your stay today at Hotel Super. We look forward to welcoming you!
                </p>
              </div>
            </div>                          
          </div>          
      </div>
    </div>
  </section>
  <!-- PDF -->
  <section id="botones-pdf">
    <div id="boton-pdf-1">
      <button id="abrir-pdf-1" class="btn btn-outline-primary mt-3">documentation</button>
    </div>
    {{!-- <div id="boton-pdf-2">
      <button id="abrir-pdf-2" class="btn btn-outline-primary mt-3">pdf 2</button>
    </div> --}}
  </section>
</div>
