/* Estilos generales del cuerpo de la página */
body {
  background: #4b4e4f; /* Color de fondo */
  color: white; /* Color del texto */
  font-family: "Hind Siliguri", sans-serif; /* Fuente */
  text-align: center; /* Alineación del texto */
  height: 100dvh; /* Altura 100% del Viewport visible(pantalla), 100dvh es mejor para móviles que 100vh, para otros contenedores usar height: 100%; */
  padding: 100px; /* Espacio se suma a la altura y ancho (usar box-sizing: border-box, para evitar desbordamiento). */
  box-sizing: border-box; /* Padding y bordes no se suman al ancho y alto definidos. Evita el desbordamiento. */
}

/* Estilos para los enlaces */
a {
  color: white; /* Color del texto de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para los enlaces al pasar el ratón por encima */
a:hover {
  color: white; /* Cambia el color del texto de los enlaces cuando se pasa el ratón por encima */
}